.env
.env.*
!.env.example

*.log
*.sql
!Chrono-backend/src/main/resources/db/migration/*.sql
compose-log.txt

data/
!Chrono-android/app/src/main/java/ch/chronologisch/chrono/data/
!Chrono-android/app/src/main/java/ch/chronologisch/chrono/data/**
data-backup/
db_data/
grafana_data/
letsencrypt/
ollama_data/
open-webui_data/
knowledge_base/
backup.sh

.idea/

